.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d2b48c; /* Set your light brown background color */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    transition: background-image 0.3s ease-in-out;
  }
  .home {
    /* ... other styles ... */
    background-image: url('https://media.istockphoto.com/id/508759746/photo/garden-concept-still-life-with-roses-gloves-and-gardeners-trowel.jpg?s=2048x2048&w=is&k=20&c=9aYBusRJZ02sLXv__PMcJe_5iuR_3rw6fftsPyXQ_yM='); /* Set your original background image */
    transition: background-image 0.3s ease-in-out; /* Add transition for background image */
  }
  
  .home:hover {
    background-image: url('https://media.istockphoto.com/id/1394410211/photo/top-view-of-cucumber-and-tomato-seedlings-and-garden-tools-on-a-wooden-background-he-was.jpg?s=2048x2048&w=is&k=20&c=S1G8AsPQkayxMKz1kW_IEFHwfKAqGx4OetbIsTFpcW0='); /* Set your hover background image */
  }
  
  .headerContainer {
    width: auto;
    margin-left: 50px;
    transition: margin-left 0.3s ease-in-out;
  }
  
  .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    margin: 0;
    font-weight: 500; /* Increase font weight for better readability */
    color: #fff; /* Set text color to white for contrast */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .headerContainer h1:hover {
    color: #81c784;
    background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: #fff; /* Set text color to white for contrast */
  }
  
  .headerContainer button {
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .headerContainer button:hover {
    background-color: #07090a;
  }
  
  /* Add hover effects and transitions */
  .home:hover {
    background-image: url(https://media.istockphoto.com/id/1138051539/photo/gardening-tools-and-flowers-in-pot-on-vintage-wooden-background-spring-garden-works-concept.jpg?s=2048x2048&w=is&k=20&c=NVTp-SxRB2514IAVDT-fCfqOkr7rOPad3HODEiXanMU=);
  }
  
  .headerContainer:hover {
    margin-left: 0;
  }
  
  .headerContainer h1:hover {
    color: #81c784;
  }
  
  .headerContainer button:hover {
    background-color: #07090a;
  }